@model IEnumerable<Exam_02.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theater.theaterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.movieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theater.theaterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
